<%= content_for(:title, "To do Lists") %>
<p><%= link_to "Create a new list", new_list_path %></p>
<h1>Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>